<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/teck-talk-design-patterns/src/br/com/elo7/observer/TestaFecharCompra.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="br.com.elo7.observer.TestaFecharCompra"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="teck-talk-design-patterns"/>
</launchConfiguration>
