<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/fj91-dynamic-proxies/src/com/caelum/fj91/dynamic1/UsingMyDynamicProxyDirectly.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.caelum.fj91.dynamic1.UsingMyDynamicProxyDirectly"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="fj91-dynamic-proxies"/>
</launchConfiguration>
